<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zombies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="zombies">ZombieWiki</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="clases">Clases <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="armas">Armas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index">Victimas</a>
            </li>
          </ul>
        </div>
      </nav>
<body id="ZOM2"> 
  <div id ="completo">
    <div id="contenedor">
    <h1>Preparate Para el apocalipsis zombie aqui conoceras los 10 zombies mas peligrosos.</h1>
    <h1>
      1.-Los Tyrant
</h1>
<h2>
      Surgen a causa del contacto con el virus T, un arma bacteriológica experimental de efectos inestables en los seres vivos, que mata al contagiado y lo convierte en un zombi caníbal. El virus también puede convertir a ciertas personas en mutantes monstruosos, todos son portadores del virus, contagiándose con una mordida. Aparecen en Resident Evil (2002).
  </h2>
  <img src="imagenes/tyrant.jpg" class="img-fluid" alt="Responsive image">     
<h1>
      2.- Los Radio-Zombi
</h1>   
<h2>
      Los Radio-Zombis Son seres humanos normales que sufren una metamorfosis a nivel psicológico, una involución a un estado primitivo, salvaje, violento y asesino. La causa de esto es un extraño virus que se trasmite por medio de las palabras, que alteran sectores precisos del cerebro y causan diferentes etapas de paranoia, miedo y finalmente psicosis. Aparecen en Pontypool (2008).
  </h2>
  <img src="imagenes/radio.jpg" class="img-fluid" alt="Responsive image">  
  <h1>
          3.- Los Draugar
  </h1>   
  <h2>
          Son los zombis de la mitología nórdica, se crean cuando una persona sumamente malvada o codiciosa muere en el hielo y no recibe sepultura. Aparecen en Død snø (2009), film en el que son presentados como antiguos soldados nazis que, tras el fin de la guerra, escaparon a las montañas; ahora son criaturas caníbales que buscan los tesoros que robaron en vida.


      </h2>
      <img src="imagenes/drau.jpg" class="img-fluid" alt="Responsive image">  
      <h1>
              4.- El Regresado
      </h1>   
      <h2>
              Es un soldado que murió en combate, pero inexplicablemente regresó a la vida con todos sus recuerdos y personalidad, lo único diferente es su sed insaciable de sangre humana, el hecho que su cuerpo parece incapaz de morir sin importar que tanto daño sufra, y que su condición se contagia a las personas de las que se alimenta. Aparecen en The Revenant (2009).
          </h2>
          <img src="imagenes/28.jpg" class="img-fluid" alt="Responsive image">  
          <h1>
                  5.- Los Caminantes / Merodeadores / Mordedores
          </h1>   
          <h2>
                  Se desconoce (aún) los motivos, pero los recientemente muertos vuelven a la vida y se convierten en criaturas caníbales similares a los “Romero”; la mordida de estos zombis trasmite una enfermedad infecciosa letal, pero toda persona que muere se convierte en un Caminante aun si no fue mordido. Aparecen en The Walking Dead (2010).
              </h2>
              <img src="imagenes/caminantes.jpg" class="img-fluid" alt="Responsive image">  
              <h1>
                      6.- Los Caminantes Blancos
              </h1>   
              <h2>
                      Seres nacidos en el frío y la oscuridad, por lo que escapan del sol y el calor. Surgen cuando un humano muere en las zonas invernales, se cree que alguna clase de espíritu revive al cuerpo blanqueando su piel y azulando sus ojos. Se los puede matar con armas de acero Valyrio, de obsidiana (vidriagón), o fuego. Aparecen en Game of Thrones (2011).
                  </h2>
                  <img src="imagenes/25.jpg" class="img-fluid" alt="Responsive image">  

                  <h1>
                          7.-Los PDS / Los "Rotters"
                  </h1>   
                  <h2>
                          El apocalipsis zombi ha pasado y aquellos que se convirtieron en “Rotters” (muertos vivientes caníbales) ahora se los considera pacientes que sufren del Síndrome del Parcialmente Difunto (o PDS en inglés) y reciben un extenso tratamiento médico gubernamental para reintegrarlos lentamente a la sociedad. Aparecen en In the Flesh (2013)
                      </h2>
                      <img src="imagenes/26.png" class="img-fluid" alt="Responsive image">  
                      <h1>
                              8.-Los Portadores
                      </h1>   
                      <h2>
                              Esta clase de zombis existen solamente para expandir el virus, por eso no matan a sus víctimas sino que las contagian mediante una mordida. Se descubrió que el contacto directo con la sangre enferma no trasmite la enfermedad si no ingresa al torrente sanguíneo. Un portador solo contagia a personas sanas o aptas físicamente. Aparecen en Worl War Z (2013).
                          </h2>
                          <img src="imagenes/27.jpg" class="img-fluid" alt="Responsive image">  
                          <h1>
                                  9.-Los Bonies
                          </h1>   
                          <h2>
                                  Son la evolución final (o degradación) de un zombi, inicialmente son infectados cuya funciones físicas cesaron pero siguen vivos, tienen pocos recuerdos de su vida y hambre por la carne humana, cuando pasa el suficiente tiempo, se arrancan la carne convirtiéndose en unos seudoesqueletos que matan todo lo que tengan enfrente. Aparecen en Warm Bodies (2013).


                              </h2>
                              <img src="imagenes/conejuwurs.jpg" class="img-fluid" alt="Responsive image">  
          
                              <h1>
                                      10.-Los Zombis Australianos
                              </h1>   
                              <h2>
                                      Surgen por alguna clase de virus desconocido que contagia por el aire a cualquiera cuya sangre no sea A negativo y a todo aquel que reciba una mordida de otro zombi. Durante el día se mueven a paso lento y sus cuerpos emiten por la boca un gas inflamable, pero durante la noche usan ese gas para moverse más rápido. Aparecen en Wyrmwood (2014).
                                  </h2>
                                  <img src="imagenes/australiano.jpg" class="img-fluid" alt="Responsive image">  
              
</div>

</div>

</body>

</html>